/*
 * This file is NOT needed in order to use skrollr.
 * The demo uses it and it may help you as well.
 */


.skrollable {
  /*
   * First-level skrollables are positioned relative to window
   */
  position:fixed;

  /*
   * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
   */
  z-index:100;
}

.skrollr-mobile .skrollable {
  /*
    May cause issues on Android default browser (see #331 on GitHub).
  */
  position:absolute;
}

.skrollable .skrollable {
  /*
   * Second-level skrollables are positioned relative their parent skrollable
   */
  position:absolute;
}

.skrollable .skrollable .skrollable {
  /*
   * Third-level (and below) skrollables are positioned static
   */
  position:static;
}

html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Open Sans', sans-serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  line-height: 1;
  min-height:100%;
  font-family:Artial, Verdana, sans-serif;
}

body {
  background: #eeeeee;
  background: -webkit-linear-gradient(top, #eeeeee, #cccccc 100%);
  background: -moz-linear-gradient(top, #eeeeee, #cccccc 100%);
  background: -o-linear-gradient(top, #eeeeee, #cccccc 100%);
  background: -ms-linear-gradient(top, #eeeeee, #cccccc 100%);
  background: linear-gradient(top, #eeeeee, #cccccc 100%);
  background-attachment:fixed;
}

ol, ul {
  list-style: none;
}

p {
  margin:1em 0;
  line-height:1.1em;
}

q {
  font-style:italic;
  color:#333;
}

h1, h2, h3, h4, h5, h6 {
-webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
-moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
-o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
line-height: 1.15em;
margin: 0 0 0.4em 0;
font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 5rem;
    letter-spacing: -2px;
    text-indent: -3px;
}

h2 {
    font-size: 3.6rem;
    letter-spacing: -1px;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 2rem;
}


#progress {
  height:3px;
  background:#3498db;
  bottom:0;
  z-index:200;
}

#scrollbar {
  position:fixed;
  right:2px;
  height:50px;
  width:6px;
  background:#444;
  background:rgba(0,0,0,0.6);
  border:1px solid rgba(255,255,255,0.6);
  z-index:300;
  border-radius:3px;
}

.skrollr-desktop #scrollbar {display:none;}


#transform {
  width:70%;
  left:50%;
  top:20%;
  margin-left:-35%;
  text-align:center;
  font-size:150%;

  //.transform-origin(50%, 50%);
}

.drop {
  background:#09f;
  font-weight:bold;
  padding:1em;
}

#download {
  width:80%;
  left:10%;
  height:80%;
  padding:3em;
  background:#FFF;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.twitter-share-button, .twitter-follow-button {
  vertical-align:middle;
}



/*
*
* SPINNER
*
*/
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 15px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FFF;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/*
 CUSTOM ********************
*/

#loader-main {
  height: 100%;
  width: 100%;
  background:#2980b9;
  z-index: 500;
  position: fixed;
}

//review intro text
#review-intro-loading {
  color:#FFF;
  position: absolute;
  z-index: 100;
  width: 400px;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  margin-top:20%;
}
#review-intro-loading h2 {
  margin-bottom: 0px;
}

//first map
#intro-map {
  width:100%;
  height:100%;
  background:#564141;
}

#map-locations {
  width:100%;
  height:100%;
  //background:#9AB3C4;
  //background:#315A76;
  //background:#564141;
  background:#2980b9;
  //opacity: 0.4;
}

#map-locations img {
  opacity: 0.3;
}

//review intro text
#review-intro {
  color:#FFF;
  position: absolute;
  z-index: 100;
  width: 400px;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
}
#review-intro h2 {
  margin-bottom: 0px;
}

//SECTION TWO
#overview {
  padding-top:30px;
  width:100%;
}
#datasets-growth {
  display: none;
}
#year-stats {
  background:#FFF;
  width:100%;
  height:100%;
  padding-top:10%;
  text-align:center;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#monthly-chart {
  font-size: 9pt;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

//SECTIoN THREE
#customer-highlight {
  width:100%;
  height:100%;
  background:rgb(44,62,80);
  color:#FFF;
}

#customer-1, #customer-2, #customer-3 {
  top: 0%;
  width: 33.33%;
  z-index: 101;
  height: 100%;
}

.customer-container {
  margin:10px;
}

.customer-container h2 {
  text-align: center;
  font-weight: 100;
}

.datasets-added {
  font-size: 2rem;
  font-weight: 100;
}

.launch-site {
  display: block;
  border: 1px solid #eee;
  padding: 10px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  opacity: 0.5;
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
  color:#EEE;
}

#customer-1 {
  //background:#27ae60;
  background:#FFF;
  color:#2B4888;
}

#customer-2 {
  background:#16a085;
}

#customer-3 {
  background:#c0392b;
}
